@import "./src/styles/variables";

.button {
  border: 1px solid $color-primary;
  height: 45px;
  border-radius: 30px;
  padding: 0 11px;
  background-color: $color-primary;
  color: white;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px white inset;
    color: $color-primary;
  }

  .title {
    margin: 0 5px;
  }

  .amount {
    display: inline-block;
    padding: 5px 10px;
    background-color: $color-primary;
    border-radius: 50%;
    color: white;
  }
}

button.active {
  color: $color-primary;
  background-color: white;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px $color-primary inset;
    color: white;
  }
}

