@import "./src/styles/variables";

.sort-default {
  position: relative;
  width: 250px;
  @media (max-width: 1130px) {
    margin-bottom: 20px;
  }

  i {
    vertical-align: middle;
    transition: transform linear 0.3s;
  }

  .turn {
    transform: rotateX(180deg);
  }

  &__title {
    color: $color-primary;
    margin-left: 5px;
    font-weight: 400;
    text-decoration: underline dotted $color-primary;
    text-underline-offset: 5px;
    cursor: pointer;
  }

  .sort__popup {
    width: 140px;
    top: 30px;
    right: 0;
    position: absolute;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(105, 97, 97, 0.2);
    font-size: 14px;
    letter-spacing: 0.015em;
    background-color: #ffffff;

    .active {
      color: $color-primary;
      background-color: #fef7f4;
    }

    li {
      padding: 10px 14px;
      cursor: pointer;

      &:hover {
        background-color: #fef7f4;
        color: $color-primary;
        transition: background-color ease 0.2s, color ease 0.2s;
      }
    }
  }
}