@import "./src/styles/variables";

.all-items-block {
  .radius {
    border-radius: 0 0 10px 10px;
  }

  .all-items {

    .all-items__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.01em;
      padding-top: 32px;
    }

    .pizzas {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      @media (max-width: 1320px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 990px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .pizza-card__bottom-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 17px;

        .pizza-card__price {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.015em;
        }
      }
    }
  }
}